<form method="POST" action="/flights">
  <label>Select a Route</label><br>
  Flight Origin:
  <select name="origins">
  <option value="JFK">New York City - JFK</option>
  <option value="ATL">Atlanta - ATL</option>
  <option value="LAX">Los Angeles - LAX</option>
  <option value="ORD">Chicago - ORD</option>
  <option value="DFW">Dallas - DFW</option>
  <option value="DEN">Denver - DEN</option>
  <option value="SFO">San Francisco - SFO</option>
  <option value="LAS">Las Vegas - LAS</option>
  <option value="MIA">Miami - MIA</option>
  <option value="CLT">Charlotte - CLT</option>
  <option value="SEA">Seattle - SEA</option>
  <option value="EWR">Newark - EWR</option>
  <option value="BOS">Boston - BOS</option>
  <option value="IAH">Houston - IAH</option>
  <option value="DCA">Washington D.C. - DCA</option>
</select>
  Flight Destination:
  <select name="destinations">
  <option value="JFK">New York City - JFK</option>
  <option value="ATL">Atlanta - ATL</option>
  <option value="LAX">Los Angeles - LAX</option>
  <option value="ORD">Chicago - ORD</option>
  <option value="DFW">Dallas - DFW</option>
  <option value="DEN">Denver - DEN</option>
  <option value="SFO">San Francisco - SFO</option>
  <option value="LAS">Las Vegas - LAS</option>
  <option value="MIA">Miami - MIA</option>
  <option value="CLT">Charlotte - CLT</option>
  <option value="SEA">Seattle - SEA</option>
  <option value="EWR">Newark - EWR</option>
  <option value="BOS">Boston - BOS</option>
  <option value="IAH">Houston - IAH</option>
  <option value="DCA">Washington D.C. - DCA</option><br>
 <input type="submit" value="Submit">
</form>
