<p><ul><%= @flight.origin %> to <%= @flight.destination%></ul><br>

<a href="/flights/<%=@flight.id%>/edit">Edit Flight </a><br>
<form method="post" action="/flights/<%=@flight.id%>/delete">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Flight">
</form>
<br>
<a href="/">Return Home</a>
