<h2>Welcome to Skybucks!</h2><br>
<h3>Please <a href="/login">login</a> to view your Skybucks Rewards balance. </h3><br>
<h3>New to Skybucks Rewards? Create an account <a href="/signup">here!</a></h3>
